#container{

   max-width: 900px;
   margin: 0 auto;

}
.img{
   background-image:url("../images/office.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width: 450px;
   height: 300px;
   padding-top: 60px;
  
}
.section-content{
  
    /* min-width: 30rem; */
    width: 100%;
    margin-top: 60px;
    
}
.card-content{
    margin-top: 60px;
}

@media screen and (max-width: 768px) {
  
    .section-content{
        padding:20px;
        margin:0 auto;
    }
 }